<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Alertas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'NOTIFICACIONES LOGS'})">Logs</a></li>
		</ul>
	</div>

	<div class="col s12">
		<div id="alertCounters" class="scrolleable"></div>
	</div>

	<div class="col s12">
		<ul class="collection">
			<% alerts.forEach(function(item) { %>
				<li id="<%= item.group_id %>" class="collection-item avatar" icon="<%= item.icon %>">
					<!-- ICON -->
					<i class="material-icons circle"><%= item.icon %></i>

					<span>
						<% if(item.cnt > 1) { %>
							<span class="chip tiny grey-text text-darken-2"><i class="fas fa-bell"></i> <%= item.cnt %></span>
						<% } %>

						<!-- SERVICE AND DATE -->
						<span class="chip tiny clear grey-text text-darken-2"><i class="fas fa-calendar"></i> <%= moment(item.inserted).format('D [de] MMM h:mm A') %></span>

						<!-- TEXT -->
						<div>
							<% if(item.link) { %>
								<a href="#!" onclick="apretaste.send(<%= item.link %>)"><%= item.text %></a>
							<% } else { %>
								<%= item.text %>
							<% } %>
						</div>
					</span>

					<!-- DELETE BUTTON-->
					<a href="#!" class="secondary-content green-text" onclick="deleteAlertGroup('<%= item.group_id %>')"><i class="material-icons">delete</i></a>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<!-- DELETE ALL BUTTON -->

<div class="bottom-space"></div>

<div id="btn" class="fixed-action-btn">
	<a class="btn-floating btn-large green" href="#!" onclick="if(confirm('¿Está seguro de limpiar sus '+totalCountOfAlerts+' alertas?')) deleteAllAlerts()">
		<i class="fas fa-trash"></i>
	</a>
</div>
