<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Alertas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'NOTIFICACIONES LOGS'})">Logs</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="collection">
			<% alerts.forEach(function(item) { %>
				<li id="<%= item.group_id %>" class="collection-item avatar">
					<!-- ICON -->
					<i class="material-icons circle"><%= item.icon %></i>

					<span>
						<% if(item.cnt > 1) { %>
							<span class="chip tiny grey-text text-darken-2"><i class="fas fa-bell"></i> <%= item.cnt %></span>
						<% } %>

						<!-- SERVICE AND DATE -->
						<span class="chip tiny clear grey-text text-darken-2"><i class="fas fa-calendar"></i> <%= moment(item.inserted).format('D [de] MMM h:mm A') %></span>

						<!-- TEXT -->
						<div>
							<% if(item.link) { %>
								<a href="#!" onclick="apretaste.send(<%= item.link %>)"><%= item.text %></a>
							<% } else { %>
								<%= item.text %>
							<% } %>
						</div>
					</span>

					<!-- DELETE BUTTON-->
					<a href="#!" class="secondary-content" onclick="deleteAlertGroup('<%= item.group_id %>')"><i class="material-icons">delete</i></a>
				</li>
			<% }) %>
		</ul>

		<!-- DELETE ALL BUTTON -->
		<a class="waves-effect waves-light btn btn-block grey" href="#!" onclick="deleteAllAlerts()">
			<i class="material-icons left">delete</i>
			Borrar todas las alertas
		</a>
	</div>
</div>
