<%if(data.notificactions.length>0){%>
<ul class="collection">
	<%data.notificactions.forEach((notification)=>{%>
	<%let date = new Date(notification.inserted_date);%>
	<li class="collection-item avatar <%if(notification.viewed==0){%>green lighten-4<%}%>" id="<%=date.getTime()%>">
		<img src="{$APP_ASSETS}<%=notification.image%>" alt="<%=notification.origin%>" class="circle">
		<span class="title"><%=notification.origin%></span>
		<p><%=date.toDateString()+', '+date.toLocaleTimeString();%><br>
			<%=notification.text%>
		</p>
	</li>
	<%});%>
</ul>
<%}%>

<script>
	data.notificactions.forEach((notification) => {
		let date = new Date(notification.inserted_date);
		$('#'+date.getTime()).click(() => {
			apretaste.doaction(notification.link, false, '', true ,'');
			return false;
		});
	});	
<\/script>