<%if(notifications.length>0){%>
<ul class="collection">
	<%notifications.forEach((notification)=>{%>
	<%let date = new Date(notification.inserted_date);%>
	<li class="collection-item avatar <%if(notification.viewed==0){%>green lighten-4<%}%>" id="<%=date.getTime()%>">
		<img src="{{APP_IMAGE_PATH}}/<%=notification.image%>" alt="<%=notification.origin%>" class="circle">
		<span class="title"><%=notification.origin%></span>
		<p><%=date.toDateString()+', '+date.toLocaleTimeString();%><br>
			<%=notification.text%>
		</p>
		<!--a href="#!" onclick="delete(notification.id)" class="secondary-content"><i class="material-icons red-text">clear</i></a-->
	</li>
	<%});%>
</ul>
<%}%>